* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

body {
  overflow-x: hidden;
  height: 100vw;
  width: 100vw;
  background-color: #191919;
}
@media all and (max-width: 350px) {
  body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: #191919;
  }
}
button {
  font-family: inherit;
}
img {
  vertical-align: top;
}
.preloader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #000;
  z-index: 5;
}

.preloader__wrapper {
  display: flex;
  width: 90%;
  height: 70%;
}
.preloader__img {
  overflow: hidden;
}
.preloader__img img {
  width: 100%;
  opacity: 0;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 80px 0px 80px;
  z-index: 6;
}
.nav__logo {
  width: 20%;
}
.nav__contacts {
  display: flex;
  column-gap: 45px;
}
.contacts__text a {
  color: #ffffff;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
@media all and (max-width: 550px) {
  .header {
    padding: 20px 20px 0px 20px;
  }
  .contacts__text a {
    display: none;
  }
  .nav__logo {
    width: 60%;
  }
}
.contacts__button__drop {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 3px;
  row-gap: 0;
  width: 32px;
  height: 30px;
  padding: 3px;
}
.contacts__ball {
  transition: all 1s ease-in;
  margin: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.contacts__ball--white {
  opacity: 1;
  border: 1px solid #ffffff;
}
.contacts__ball--red {
  background-color: red;
}
.active {
  width: 28px;
  height: 28px;
}

.hidden {
  border: none;
  width: 0px;
  height: 0px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}
.section-about {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.section-about__video {
  overflow: hidden;
}
#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.section-about__company-info {
  position: absolute;
  top: 390px;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.company-info__block {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
@media all and (max-width: 550px) {
  .section-about__company-info {
    width: 100%;
    left: 10%;
  }
  .block__item {
    width: 100%;
  }
}
.block-text {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 476;
  font-size: 28px;
  line-height: 28px;
}
.block-text--large {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
}
.section-features {
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  height: 400%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-features__mockup {
  position: sticky;
  height: 40%;
  width: 40%;
  z-index: 2;
  top: 200px;
  left: 30%;
}
.mockup__screen {
  position: relative;
  width: 100%;
}
.mockup__screen img {
  width: 100%;
}
.mockup__video--video {
  position: absolute;
  width: 98%;
  top: 5px;
  left: 5px;
}
.section-features__blur {
  position: absolute;
  top: 3%;
  width: 1350px;
  height: 1350px;
  border-radius: 50%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
  filter: blur(160px);
}
.section_features__text {
  width: 65%;
  z-index: 7;
}
.text--inside {
  text-indent: 120px;
  text-transform: uppercase;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 90px;
  font-weight: 476;
  line-height: 90px;
  text-align: left;
  color: #ffffff;
  font-variation-settings: 'wdth' 133, 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96,
    'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.section-features__traits {
  position: absolute;
  top: 1590px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.traits__container {
  width: 400px;
}
.traits__text {
  color: #ffffff;
  text-indent: 100px;
  text-transform: uppercase;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 40px;
  font-weight: 476;
  line-height: 62.4px;
  text-align: left;
  font-variation-settings: 'wdth' 133, 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96,
    'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.traits__text--right {
  text-align: right;
}
.section-awards {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 2500px;
  background-color: #ffffff;
  z-index: 5;
  padding: 100px 90px 100px 90px;
}
.section-awards__title {
  color: #333333;
  margin-bottom: 50px;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  font-variation-settings: 'wdth' 129, 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96,
    'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.section-awards__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  height: 52px;
  padding: 20px;
  border-bottom: 1px solid #333333;
}
.row:hover .img__wrapper {
  opacity: 1;
}
.row:hover .project__text {
  opacity: 1;
}
.column__web {
  display: flex;
  align-items: center;
  position: relative;
  width: 70rem;
}
.web__text {
  color: #333333;
  text-transform: uppercase;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 32px;
}
.img__wrapper {
  transition: all 1s ease;
  opacity: 0;
  transform: rotate(-13deg);
  position: absolute;
  left: 250px;
}
.web__img {
  width: 200px;
}
.column__award {
  width: 40rem;
}
.award__text {
  color: #333333;
  text-transform: uppercase;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
}
.column__date {
  width: 15rem;
}
.date {
  color: #333333;
  text-transform: uppercase;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
}
.column__project {
  align-items: center;
  display: flex;
}
.project__text {
  transition: all 1s ease;
  opacity: 0;
  color: #333333;
  text-transform: uppercase;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 32px;
}

.project--arrow {
  width: 17px;
  height: 17px;
}
